.page_back{
position: relative;
    opacity: 1.0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* How the image moves wrt scroll, fixed means doesnt move wrt scroll. Default value = scroll*/
}
.page_back{
    background-image: url('page_back.jpg') ;
    min-height: 100%;
}

.name {
     color: black;
     background-color: skyblue;
     padding: 20x;
   }
.middle{
     text-align: center;
}
 
