.page_back{
position: relative;
    opacity: 1.0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* How the image moves wrt scroll, fixed means doesnt move wrt scroll. Default value = scroll*/
}
.page_back{
    background-image: url('page_back.jpeg') ;
    min-height: 100%;
}

.name {
     color: black;
     background-color: orange;
     padding: 5x;
   }


.middle{
     text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
}

li a {
  display: block;
  color: orange;
  text-align: center;
  padding: 2px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: orange;
} 

.active {
  background-color: black;
}
ul {
  position: -webkit-sticky; /* macbook Safari */
  position: sticky;
  top: 0;
}
